/* google fonts */
.font-merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* common sheared styles */
.color-primary {
    color: #FF0000;
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: rgba(7, 2, 17, 1);
}

.text-gray {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
}

.text-center {
    text-align: center;
}


header,
main {
    margin: 50px 140px;
}

main section {
    margin-top: 120px;
}



/* header section */
header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;

}

/* banner styles */
.banner-content {
    text-align: center;
    padding: 170px 340px;
}

.banner-sub-title {
    font-size: 32px;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
}


/* offer section styles */
.offer-title {
    font-size: 88px;
    font-weight: 700;
}

.offer-description {
    font-size: 24px;
    font-weight: 500px;
}

.offer-sub-title {
    font-size: 48px;
    font-weight: 700;
}


/* welcome section styles */
.welcome-section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    display: flex;
    gap: 80px;
    padding: 0 126px;
    align-items: center;
}

.welcome-section-title {
    font-size: 64px;
    font-weight: 900;
    width: 65%;
    /* margin-right: 150px; */
    margin-bottom: 10px;
}

.welcome-section-description {
    font-size: 18px;
    width: 90%;
}

.btn-join-now {
    background-color: transparent;
    border: none;
}

.btn-join-now a {
    text-decoration: none;
}


/* party details section */
.party-details-section {
    background: linear-gradient(#FFD8D8, #FFFFFF);
}

.party-details-section div {
    padding: 100px 380px;
}

.party-details-section p {
    font-size: 32px;
    font-weight: 600;
}

.party-details-section button {
    background-color: #FF0000;
    padding: 16px 32px;
    border-radius: 10px;
}


/* best offer section */
.best-offer-section {
    display: flex;
    gap: 80px;
}

.best-offer-section h4 {
    font-size: 24px;
    font-weight: 500;
}

.best-offer-section h3 {
    font-size: 48px;
    font-weight: 700;
}

.circle {
    border: 10px solid #FF0000;
    border-radius: 50%;
    padding: 10px;
}


/* holiday section styles */
.holiday-section {
    padding: 0 125px;
}

.holiday-section h1 {
    font-size: 72px;
    font-weight: 900;
    margin: 0px;
}

.holiday-section h3 {
    font-size: 24px;
    font-weight: 500;
}


/* discount section */
.discount-section {
    display: flex;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}


/* portfolio section */
.image-container {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-section p {
    margin-right: 420px;
}

/* subscribe section styles */
.subscribe-section {
    background-color: rgba(255, 0, 0, 0.05);
    padding: 80px 215px;
    border-radius: 15px;
}

.subscribe-section h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.subscribe-section input {
    margin-right: 0px;
    padding: 25px 30px;
    font-size: 18px;
    border: none;
    width: 50%;
    border-radius: 50px 0px 0px 50px;
}

.subscribe-section button {
    margin-left: 0px;
    padding: 25px 30px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF0000;
    border-radius: 0px 50px 50px 0px;
}


/* footer styles */
footer {
    background-color: black;
    padding: 120px 140px;
    font-size: 24px;
}

.website-address,
.website-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer hr {
    height: 1px;
    background-color: gray;
    border: none;
}